    /* 공통 */
    *{
        margin: 0; 
        padding: 0;
    }
    ul, ol {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: black;
    }

    input[type=checkbox]{
        width: auto;
        margin-right: 6px;
    }

    input{
        width: 200px;
        padding: 6px;
        border: 1px solid #959595;
        font-size: 13px;
        background-color: #fefefe;
        color: #333;
        vertical-align: middle;
        box-sizing: border-box;
    }

    /* wrapper */
    .admin-wrapper{
        width: 100%;
        height: auto;
    }

    h4{font-size: 15px; font-weight: bold;}

    /* header */
    header{
        width: 100%;
        height: 120px;
        background: url('/Kmarket/img/img_admin/admin_bg_header.jpg') repeat-x;
    }
    header > div{
        width: 1400px;
        height: 100%;
        margin: 0 auto;
    }
    header > div > a >.logo {
        float: left;
        margin-top: 46px;
    }
    header > div > p{
        float: right;
        color: #fff;
        margin-top: 46px;
    }

    header > div > p > span {
        color: #fff;
    }
    header > div > p > a {
        color: #fff;
    }

    /* main */
    main{
        width: 1400px;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
    }

    /* aside */
    main > aside{
        float: left;
        width: 270px;
        height: auto;
        background: url('/Kmarket/_admin/img/admin_bg_aside.jpg');
    }
    main > aside ul{
        background: #eaeaea
    }
    main > aside > ul > li{
        min-height: 66px;
        border-top: 1px solid #c0c0c0;
        box-sizing: border-box;
    }
    
    main > aside > ul > li > a{
        display: block;
        width: 100%;
        height: 66px;
        font-size: 14px;
        font-weight: bold;
        color: #222;
        line-height: 66px;
        text-indent: 10px;
    }

    main > aside > ul > li > a > i{
        margin-right: 10px;
        font-size: 20px;
    }

    /* 어사이드 목록 */
    main > aside > ul > li > ol{
        width: 100%;
        height: auto;
    }
    main > aside > ul > li > ol > li{
        width: 100%;
        height: 32px;
    }
    main > aside > ul > li > ol > li > a{
        display: block;
        width: 100%;
        height: 100%;
        text-indent: 52px;
    }
     /* 쇼핑몰 운영 현황  */
    main > section {
        float: right;
        width: 1126px;
        min-height: 600px;
        box-sizing: border-box;
    }
    main > section > nav{
        position: relative;
        width: 100%;
        height: 46px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }
    main > section > nav > p{
        font-size: 12px;
    }
    main > section > article{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    main > section > article > table{
        width: 100%;
        margin-top: 6px;
        margin-bottom: 16px;
        border-collapse: collapse;
    }
    main > section > article > table > tbody{
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
    main > section > article > table > tbody >tr{}
    main > section > article > table > tbody >tr:first-child{
        background: #fafafa !important;
    }
    main > section > article > table > tbody > tr > td:nth-child(1){
        background-color: #f6f6f6;
    }

    main > section > article > table > tbody > tr > td{
        width: 20%;
        border: 1px solid #e5e5e5;
        padding: 6px 6px 6px 12px;
        color: #111;
        text-align: center;
    }
    main > section > article > table > tbody > tr > td > p{
        padding: 6px;
        overflow: hidden;
    }

    main > section > article > table > tbody > tr > td > p > span:nth-child(1){
        float: left;
    }
    main > section > article > table > tbody > tr > td > p > span:nth-child(2){
        float: right;
    }

    main > section > article > table > tbody > tr > td >strong{
        display: block;
        font-size: 16px;
        font-weight: bold;
        padding-top: 10px;
    }
    main > section > article > table > tbody > tr > td >span{
        display: block;
        padding: 16px;
        font-size: 16px;
        font-weight: bold;
        color: #bc2e13;
    }
    main > h4{
        font-size: 15px;
        font-weight: bold;
    }

    /* 관리자 메인  */
    main > section > nav {
        position: relative;
        width: 100%;
        height: 46px;
        margin-bottom: 16px;
        border-bottom: 1px solid #c0c0c0;
        box-sizing: border-box;
    }

    main > section > nav > h3 {
        position: absolute;
        left: 0;
        bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    main > section > nav > p {
        position: absolute;
        right: 0;
        bottom: 10px;
    }

    /* 주문 업무 현황  */
    #admin-index > article{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    #admin-index > article > table{
        width: 100%;
        margin-top: 6px;
        margin-bottom: 16px;
        border-collapse: collapse;
        border-top: 2px solid #8798a3;
    }
    #admin-index > article > table > tbody{
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
    
    #admin-index > article > table > tbody >tr{}
    #admin-index > article > table > tbody >tr >td{
        width: 20%;
        border: 1px solid #e5e5e5;
        padding: 6px 6px 6px 12px;
        color: #111;
        text-align: center;
    }

    /* 공지사항 */
    #admin-index > div{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    #admin-index > div > div{
        width: 48%;
        height: auto;
    }
    #admin-index > div >div:nth-child(1){
        float: left;
    }
    #admin-index > div >div:nth-child(2){
        float: right;
    }
    #admin-index > div > div >article{
        width: 100%;
        margin-top: 6px;
        margin-bottom: 16px;
        border: 1px solid #e5e5e5;
        border-top: 2px solid #8798a3;
        padding: 16px;
        box-sizing: border-box;
    }
    #admin-index > div > div > article > p{
        overflow: hidden;
    }
    #admin-index > div > div > article > p >span{
        line-height: 26px;
    }

    #admin-index > div > div > article > p > span:nth-child(1) {
    float: left;
    display: block;
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    }

    #admin-index > div > div > article > p > span:nth-child(2) {
    float: right;
    }

    /* produnt list */
    #admin-product-list{
        float: right;
        width: 1130px;
        min-height: 600px;
        padding: 20px;
        box-sizing: border-box;
    }

    #admin-product-list > section > div {
        margin-bottom: 10px;
    }

    select{
        width: 150px;
        padding: 6px;
        border: 1px solid #959595;
        font-size: 13px;
        background-color: #fefefe;
        color: #333;
        box-sizing: border-box;
    }

    .search > input{
        width: 200px;
        padding: 6px;
        border: 1px solid #959595;
        font-size: 13px;
        background-color: #fefefe;
        color: #333;
        vertical-align: middle;
        box-sizing: border-box; 
    }

    #admin-product-list > table {
        border-top: 2px solid #8798a3;
        margin-top: 15px;
    }
    
    #admin-product-list > table > tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    #admin-product-list > table > tbody > tr{}
    #admin-product-list > table > tbody > tr > th{
        padding: 10px 0;
        background: #f6f6f6;
    }

    /* 제품 콘텐츠 */
    #admin-product-list > table > tbody > tr>  td{
        background-color: #fff;
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid #e6e6e6;
        padding: 10px;
    }
    #admin-product-list > table > tbody > tr>  td:nth-child(1){
        width: 20px;
    }
    #admin-product-list > table > tbody > tr>  td:nth-child(2){
        width: 80px;
    }
    #admin-product-list > table > tbody > tr>  td:nth-child(3){
        width: 80px;
    }
    #admin-product-list > table > tbody > tr>  td:nth-child(4){
        width: auto;
        text-align: left;
    }
    #admin-product-list > table > tbody > tr>  td:nth-child(5){
        width: 80px;
    }
    #admin-product-list > table > tbody > tr>  td:nth-child(6){
        width: 80px;
    }
    #admin-product-list > table > tbody > tr>  td:nth-child(7){
        width: 80px;
    }
    #admin-product-list > table > tbody > tr>  td:nth-child(8){
        width: 80px;
    }
    #admin-product-list > table > tbody > tr>  td:nth-child(9){
        width: 80px;
    }
    #admin-product-list > table > tbody > tr>  td:nth-child(10){
        width: 80px;
    }
    #admin-product-list > table > tbody > tr>  td > .thumb{
        width: 60px;
    }

    #admin-product-list > input[type=button] {
        float: left;
        width: 100px;
        margin-top: 10px;
        padding: 6px;
        border: 1px solid #959595;
        font-size: 13px;
        background-color: #fefefe;
        color: #333;
        vertical-align: middle;
        box-sizing: border-box;
    }

    #admin-product-list .paging {
        width: 100%;
        padding: 30px 0;
        text-align: center;
    }
    #admin-product-list .paging > .num > a{
        display: inline-block;
        min-width: 14px;
        margin: 0 2px;
        padding: 8px 9px;
        border: 1px solid #c4c4c4;
        color: #000;
        font-size: 12px;
        text-align: center;
    }

    #admin-product-list .paging > .num > a.on {
        color: #fe434c;
        font-weight: bold;
    }
    
    p.info {
        border-color: #8497BF;
        background: #A8B2C5 url(/Kmarket/img/img_admin/admin_ico_info.png) no-repeat scroll 15px 16px;
    }

    p.alert{
        border-color: #FDD845;
        background: #FFF6BF url(/Kmarket/img/img_admin/admin_ico_alert.png) no-repeat scroll 15px 16px;
    }

    p.ico {
        width: 100%;
        height: 58px;
        margin-top: 20px;
        border-width: 1px;
        border-style: solid;
        padding-left: 50px;
        line-height: 58px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    /* admin-product-register */
    #admin-product-register > article > form > section > p {
        background: #eaeaea;
        padding: 10px;
        margin: 10px 0;
        box-sizing: border-box;
    }

    #admin-product-register > article > form > section > h4{
        margin-top: 15px;
    }

    #admin-product-register > article section table{
        width: 100%;
    }
    
    #admin-product-register > article section table tr td{
        border-top: 1px solid #e6e6e6;
        padding: 10px;
        text-align: left;
    }

    #admin-product-register > article section table tr td span{
        display: block;
        font-size: 12px;
    }

    #admin-product-register > article section table tr td:nth-child(1){
        width: 160px;
        background: #f6f6f6;
    }

    /* footer */
    footer{
        width: 100%;
        height: 60px;
        background-color: #0d3a46;
    }
    footer> div{
        width: 1400px;
        height: 100%;
        margin: 0 auto;
    }

    footer > div > p {
    padding-top: 22px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    }