
* {
    padding: 0;
    margin: 0;
    font: normal 12px '고딕';
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
#wrapper {
    width: 100%;
    height: auto;
}
/* header */
header {
    width: 100%;
    height: 197px;
}
header > .info {
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
}
header > .info > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .info ul {
    float: right;
}
header > .info ul > li:nth-child(1) {
    border-left: 1px solid #e9e9e9;
}
header > .info ul > li {
    height: auto;
    line-height: 35px;
    float: left;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
    padding: 0 10px;
    color: #646464;
}
header > .search {
    height: 115px;
    border-bottom: 1px solid #e9e9e9;
}
header > .search > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
header > .search > div > a {
    display: inline-block;
    margin-top: 30px;
}
header > .search > div > form {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -185px;
    margin-top: 35px;
    display: inline-block;
    width: 370px;
    height: 45px;
}
header > .search > div > form > input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}
header > .search > div > form > button {
    position: absolute;
    right: 6px;
    top: 10px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #333;
    outline: none;
}
header > .menu {
    height: 47px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}
header nav {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
header nav > ul > li:nth-child(1) {
    border-left: 1px solid #e9e9e9;
}
header nav > ul > li {
    height: auto;
    line-height: 47px;
    float: left;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
    padding: 0 10px;
}
header nav > .hitProduct {
    float: left;
}
header nav > .cs {
    float: right;
}

/* main */
/*  베스트 상품 */
main > aside > .best{
    width: 215px;
    height: auto;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgb(55, 55, 5 / 20%);
}
main > aside > .best > h1{
    font-size: 14px;
    font-weight: bold;
    color: #111;
    margin: 6px;
}

main > aside > .best > h1 > i {
    margin-right: 6px;
    font-size: 18px;
}

main > aside > .best > ol{
    width: 100%;
}
main > aside > .best > ol > li{
    width: 100%;
    height: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
main > aside > .best > ol > li > a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main > aside > .best > ol > li > a > div{}
main > aside > .best > ol > li > a > h2{}

main > aside > .best > ol > li > a > .thumb {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
}

main > aside > .best > ol > li > a > .thumb > i {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 16px;
    height: 20px;
    font-size: 14px;
    padding: 0;
    color: #ef3e42;
    border-bottom: 1px solid #ef3e42;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 18px;
}

main > aside > .best > ol > li:first-child > a > .thumb {
    position: relative;
    float: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

main > aside > .best > ol > li:first-child > a > .thumb > i {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 16px;
    height: 20px;
    font-size: 14px;
    padding: 0;
    color: #ef3e42;
    border-bottom: 1px solid #ef3e42;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 18px;
}

main > aside > .best > ol > li > a > article{
    float: left;
    width: 148px;
    padding-left: 6px;
    box-sizing: border-box;
}

main > aside > .best > ol > li:first-child > a > .thumb > i {
    width: 35px;
    height: 26px;
}

main > aside > .best > ol > li > a .org_price {
}

main > aside > .best > ol > li > a .org_price > del{
    font-size: 10px;
    color: #aaa;
}

main > aside > .best > ol > li > a .org_price > span{
    color: #eb000a;
    font-size: 10px;
}

main > aside > .best > ol > li > a .dis_price {
}

main > aside > .best > ol > li > a .dis_price > ins{
    font-size: 14px;
    text-decoration: none;
}

/* main > section */
main > section{
    float: right;
    width: 985px;
    height: auto;
    box-sizing: border-box;
}


/* slider */
main > section .slider{
    width: 100%;
    height: 425px;
    overflow: hidden;
}

main > section .slider > ul{}
main > section .slider > ul > li{}
main > section .slider > ul > li > a{}
main > section .slider > ul > li > a img{
    max-width: 100%;
    display: block;
}

/* section > 상품영역 */

main > section > section {
    width: 100%;
    height: auto;
    overflow: hidden;
}

main > section > section > h3 > span {
    display: inline-block;
    margin: 10px;
    border-bottom: 2px solid #111;
    font-weight: bold;
    font-size: 16px;
}

main > section > section > article {
    width: 100%;
    height: 345px;
}

main > section > section > article > a {
    float: left;
    display: block;
    width: 25%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

main > section > section > article a > .thumb {
    width: 100%;
    height: 230px;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
}
main > section > section > article > a > .thumb h2{
    font-size: 15px;
    font-weight: bold;
    margin-top: 4px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
main > section > section > article > a > .thumb p{
    color: #222;
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

main > section > section > article h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 4px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
}
main > section > section > article > a > div p{}

main > section > section > article .org_price > del {
    color: #aaa;
}
main > section > section > article .org_price > span {
    color: #eb000a;
}

main > section > section > article .dis_price {
    margin-top: 4px;
}

main > section > section > article .dis_price > ins {
    font-size: 14px;
    text-decoration: none;
}

main > section > section > article .dis_price > .free {
    display: inline-block;
    font-size: 0;
    vertical-align: text-bottom;
    width: 55px;
    height: 13px;
    background: url(/Kmarket/img/img_main/ico_freeshipping.gif) no-repeat;
}

/* footer */
footer {
    width: 100%;
    height: 192px;
    background-color: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}
footer > div:nth-child(1) > ul {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
}
footer > div:nth-child(1) > ul > li:first-child {
    border-left: 1px solid #d7d7d7;
}
footer > div:nth-child(1) > ul > li {
    display: inline-block;
    font-weight: bold;
    border-right: 1px solid #d7d7d7;
    padding: 0 10px;
}
footer > div:nth-child(1) > ul > li > a {
    color: #333949;
}
footer > div:nth-child(2) {
    width: 1200px;
    height: auto;
    padding-top: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
footer > div:nth-child(2) > p {
    float: left;
    height: 100%;
    font-size: 11px;
    line-height: 15px;
    color: #676767;
}
footer > div:nth-child(2) > p:nth-child(2){
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}
footer > div:nth-child(2) > p > strong {
    display: inline-block;
    padding: 6px 15px 7px 0;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}
