<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Kmarket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 자동로그인 필터 -->
  <filter>
  	<filter-name>AutoLogin</filter-name>
  	<filter-class>filter.AutoLogin</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AutoLogin</filter-name>
  	<url-pattern>/index.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AutoLogin</filter-name>
  	<url-pattern>/member/login.do</url-pattern>
  </filter-mapping>
  
  <!-- 인코딩 필터 -->
  <filter>
  	<filter-name>SetCharacterEncodingFilter</filter-name>
  	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>SetCharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 모델2 보안설정 -->
  <security-constraint>
  	<display-name>Prohibit Model1</display-name>
  	<web-resource-collection>
  		<web-resource-name>secure page</web-resource-name>
  		<url-pattern>*.jsp</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>nobody</role-name>
  	</auth-constraint>
  </security-constraint>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>free pages</web-resource-name>
  		<url-pattern>/index.jsp</url-pattern>
  	</web-resource-collection>
  </security-constraint>
  
</web-app>